@page "/"

<PageTitle>Index</PageTitle>

<h1>MES Maschinenanbindung</h1>

Mit dieser App können Sie die Maschinenanbindung konfigurieren. Wählen Sie die verschiedene Maschinentypen um diese zu konfigurieren.
